# A build image, ami tartalmazza a docker klienst
image: docker:latest

# Ez kell ahhoz, hogy a konténeren belül tudjunk docker parancsokat futtatni (Docker-in-Docker)
services:
  - docker:dind

variables:
  # Opcionális: jobb teljesítményért a docker overlay driver használata
  DOCKER_DRIVER: overlay2
  # A konkrét image név, amit használni fogunk (a felhasználóneveddel)
  DOCKER_IMAGE_NAME: delit24/hellodevops

stages:
  - build_and_push

docker-deploy:
  stage: build_and_push
  # Csak akkor fusson, ha a main branchre pusholsz (ahogy kérted)
  only:
    - main
  before_script:
    # Bejelentkezés a Docker Hub-ra a GitLab változók segítségével (Lásd lentebb a 3. pontot!)
    - docker login -u "$DOCKER_HUB_USER" -p "$DOCKER_HUB_PASSWORD"
  script:
    # 1. Buildelés (ugyanaz, mint amit kézzel írtál, csak automatizálva)
    # A "latest" tag mellett érdemes a commit hash-t is használni verziózásra, vagy a GitLab pipeline ID-t.
    - docker build -t $DOCKER_IMAGE_NAME:latest .
    
    # 2. Pusholás a Docker Hub-ra
    - docker push $DOCKER_IMAGE_NAME:latest
    
    # (Opcionális) Ha verziózni is akarod minden egyes buildet:
    # - docker tag $DOCKER_IMAGE_NAME:latest $DOCKER_IMAGE_NAME:$CI_PIPELINE_IID
    # - docker push $DOCKER_IMAGE_NAME:$CI_PIPELINE_IID