stages:
  - build
  - test
  - docker

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_NAME: $DOCKER_USERNAME/hellodevops
  IMAGE_TAG: $CI_COMMIT_REF_NAME

build:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    - dotnet restore
    - dotnet build --configuration Release --no-restore
  artifacts:
    paths:
      - HelloDevOps/bin/Release/
    expire_in: 1 hour

test:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    - dotnet test --configuration Release --no-build --verbosity normal
  dependencies:
    - build

docker-build:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker tag $IMAGE_NAME:$IMAGE_TAG $IMAGE_NAME:latest
    - docker push $IMAGE_NAME:$IMAGE_TAG
    - docker push $IMAGE_NAME:latest
  only:
    - main